     .color-black{
          color: var(--color-black);
     }
     .color-white{
          color: var(--color-white);
     }
     .color-brown{
          color: var(--color-brown);
     }
     .color-green{
          color: var(--color-green);
     }
     .color-dark-gray{
          color: var(--color-dark-gray);
     }


     .bg-gray {
          background-color: var(--color-graybg);
     }
     .bg-green {
          background-color: var(--color-green);
     }
     .bg-white{
          background-color: var(--color-white);
     }

     .border-green {
          border: 1.5px solid var(--color-green);
     }