$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1436;
// $maxWidthContainerPersonal: 1830;

// *Colors*
:root {
  --color-white: #fff;
  --color-light: #f9b974;
  --color-green: #00654d;
  --color-black: #070707;
  --color-graybg: #f9f9f9;
  --color-brown: #c47a2c;
  --color-gray-inputs: #b1b1b1;
  --color-red: #e94646;
  --color-dark-gray: #66605b;
  --color-gray: #e7e7e7;
  --color-green-light: #007a65;
  // game
  --color-gray-game: #ededed;
  --color-yellow-game: #fbc469;
  --color-yellow-light-game: #ffe1b0;
  --color-red-game: #bc2222;
  --color-brown-game: #b47e36;
  --color-green-game: #007a65;
}
// *------*

// *! Fonts*
$fontSize: 16px;
//@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$ff-Roboto: "Roboto";
@import url("https://fonts.googleapis.com/css?family=Open Sans");
$ff-OpSans: "Open Sans";
// *!------*

// *? Border*
$border-15: 15px;
$border-25: 25px;
$border-20: 20px;
// *?------*

// *! Transition *
$transition-2: all ease-out 0.2s;
$transition-3: all ease-out 0.3s;
// *!------*

// *? Media rules*
$mouse-device: "(hover: hover) and (pointer: fine)";
$ui-mobile: "screen and (max-width: 650px)";
$ui-tablet: "screen and (max-width: 910px)";
// *?------*

// *! z-indexs*
$layer-back: -1;
$layer-base: 2;
$layer-ui: 3; //header, footer, menu
$layer-modal: 4;
// *!------*

// ? bootstrap icon class
.bootsrtap-icon {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// *?------*

.no-hover {
  pointer-events: none;
}
