.game-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .game-cards-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .game-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.game-card {
  min-height: 750px;
  border: none;
  color: var(--color-black);
  transition: transform 0.4s;

  & div img + i {
    transition: transform 0.4s;
  }

  &:hover {
    transform: scale(1.03);
  }

  &:hover div img + i {
    transition: transform 0.4s;
    transform: rotate(-45deg);
  }
}

